.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    color: #fff;
    background-color: #1d1d1d;
}

mat-sidenav {
    width: 150px;
    padding: 10px;

    #logout {
        width: 100%;
    }
}
  
mat-sidenav-content {
    padding: 20px;
}

.container-lista {
    display: flex;
    justify-content: space-between;
}

