.container {
  height: 100vh;
  background-color: #fffcff;
  display: flex;
  color: #fff;
  overflow-y: hidden;

  .container-img {
    flex-grow: 1;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .form-login {
    flex-grow: 0.3;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background-color: #011638;

    form {
      padding: 1.5rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-items: center;
      align-content: center;
      align-items: center;
      gap: 30px;

      p {
        font-size: 28px;
      }

      .container-input {
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 24px;
        width: 100%;
        justify-content: center;
        align-items: center;

        label {
          font-size: 18px;
        }

        .form {
          display: flex;
          flex-direction: column;
          gap: 15px;
          width: 100%;

          .input {
            height: 20px;
            background-color: #d6d6d6;
            border: none;
            border-radius: 8px;
            padding: 12px;
            width: 100%;
            font-size: 14px;
          }

          .input-content {
            display: flex;

            .icon-content {
              height: 20px;
              padding: 12px;
              background-color: #1e81c4;
              border-radius: 8px;
            }
          }

          .input::placeholder {
            color: #000;
          }
        }
        .btn-login {
          width: 200px;
          height: 40px;
          border: none;
          border-radius: 10px;
          color: #fff;
          background-color: #1e81c4;
          cursor: pointer;
        }

        #forget-password {
          font-size: 13px;
          cursor: pointer;
        }
      }
    }
  }
}
