<main>
  <div class="container">
    <div class="container-img">
      <img src="../../assets/img/sign_up.svg" alt="" />
    </div>
    <div class="form-login">
      

      <form [formGroup]="loginForm">
        <p>Digite seu login para acessar.</p>
        <div class="container-input">
          <div class="form">
            
            <label for="">Usuário ou email</label>
            <div class="input-content">
              <input class="input" placeholder="Digite seu email" required="" type="text" formControlName="login">
              <div class="icon-content">
                <i data-feather="mail"></i>
              </div>
            </div>
          </div>

          <div class="form">
            <label for="">Senha</label>
            <div class="input-content">
              <input class="input" placeholder="Digite sua senha" required="" type="password" formControlName="password">
              <div class="icon-content">
                <i data-feather="lock"></i>
              </div>
            </div>
          </div>

          <label for="forget-password" id="forget-password">Esqueceu sua senha?</label>
          <button class="btn-login" (click)="onSubmit()">Login</button>
        </div>
      </form>
    </div>
    
    
    
  </div>
</main>
