<div class="container">
    <h1>Cadastrar produto</h1>
    <form #clienteForm="ngForm">
      <mat-form-field>
        <input matInput placeholder="Nome do produto" name="nome" [(ngModel)]="nomeProduto"/>
      </mat-form-field>
  
      <mat-form-field>
        <input matInput placeholder="Preço do produto" name="preco" [(ngModel)]="precoProduto"/>
      </mat-form-field>

  
      <div class="buttons">
        <button mat-raised-button color="primary" type="button" (click)="submitForm()">Cadastrar</button>
        <button mat-raised-button color="warn" type="button" (click)="onNoClick()">Cancelar</button>
      </div>
    </form>
  </div>